.header {
    width: 100vw;
    height: 10rem;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 1rem;

    position: fixed;
    top: 0;

    
}

.header img {
    width: 7rem;
}


.width150 {
    width: 200px;
    cursor: pointer;
}