.form {
    border: solid 1px #000;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f7f7f7;
    border-radius: 5px;
        
}


.login {
  line-height: 3rem;
  border-bottom: 1px solid #000;
  margin-bottom: 1rem ;

}

.input {
        margin-bottom: 1rem; 
   
    
 }

 .input input {
    width: 15rem;
    border-radius: 5px;

 }

 .checkbox {
    padding-bottom: 1rem;
    width: 15rem;
    
 }

 .checkbox input {
  margin-right: 0.5rem;
 }

.button input {
    width: 15rem;
    height: 1.75rem;
    background: #4ccbd9;
    transition: 0.1s;
    border-radius: 5px;
}

.button input:hover {
  background: #119ed6;
}

    


