.form {
    border: solid 1px #000;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f7f7f7;
    border-radius: 5px;
    margin-top: 8rem;
        
}


.login {
  display: flex;
  justify-content: center;
  width: 15rem;
  line-height: 3rem;
  border-bottom: 1px solid #000;
  margin-bottom: 2rem ;

}

.email {
        margin-bottom: 1rem;     
 }

 .email input {
    width: 15rem;
    border-radius: 5px;
 }

 .senha {
  margin-bottom: 1rem;
 }

 .senha input {
  width: 15rem;
  border-radius: 5px;
}


 .checkbox {
    margin-bottom: 1rem;
    width: 15rem;
    
 }

 .checkbox input {
  margin-right: 0.5rem;
  cursor: pointer;
 }

.button input {
    width: 15rem;
    height: 1.75rem;
    background: #4ccbd9;
    transition: 0.1s;
    border-radius: 5px;
    cursor: pointer;
}

.button input:hover {
  background: #119ed6;
}

.changePassword {
  width: 15rem;
  margin-bottom: 1rem;
}

.changePassword a {
  color: #000;  
  transition: 0.1s;
}

.changePassword a:hover {
  color:#119ed6;
}
    
.errorAlert {
  width: 15rem;
  color: #e61919;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.errorEmail input {
  width: 15rem;
  border-radius: 5px;
  border-bottom: solid #e61919 ;
}

.errorPassWord input {
  width: 15rem;
  border-radius: 5px;
  border-bottom: solid #e61919 ;
}

